.body {
  overflow-y: scroll;
}

.second_section {
  max-width: 1730px;
  width: 100%;
  margin: 0 auto;
  height: 64px;
  z-index: 5;
  background: #fff;
  position: relative;
}

.second_section.active {
  max-width: 100%;
  width: 100%;
}

.second_section_container {
  position: absolute;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.second_section_category {
  margin-right: 28px;
}
@media (max-width: 740px) {
  .second_section_category {
    margin-right: 20px;
  }
}
@media (max-width: 644px) {
  .second_section_category {
    margin-right: 16px;
  }
}
@media (max-width: 444px) {
  .second_section_category {
    margin-right: 12px;
  }
}
.second_section_category a {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #2e2e2e;
  position: relative;
  font-size: calc(8px + 6 * ((100vw - 320px)/1410));
  text-transform: uppercase;
}
.second_section_category a:hover {
  text-decoration: none;
}
.second_section_category a:hover::after {
  content: "";
  position: absolute;
  top: 200%;
  left: -5%;
  width: 110%;
  height: 4px;
  background: #bae2e4;
}

.second_section_category:last-child {
  margin-right: 0;
}

.third_section {
  width: 100%;
  height: 1016px;
}
@media (max-width: 1120px) {
  .third_section {
    height: 800px;
  }
}
@media (max-width: 820px) {
  .third_section {
    height: 620px;
  }
}
@media (max-width: 660px) {
  .third_section {
    height: 520px;
  }
}

.swiper-container-1 {
  width: 100%;
  height: 100%;
}
.swiper-container-1 .swiper-wrapper .swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
}
.swiper-container-1 .swiper-wrapper .swiper-slide .swiper_slide_container {
  position: absolute;
  top: 50%;
  left: 32%;
  transform: translate(-32%, -50%);
}
@media (max-width: 1200px) {
  .swiper-container-1 .swiper-wrapper .swiper-slide .swiper_slide_container {
    left: 22%;
    transform: translate(-22%, -50%);
  }
}
@media (max-width: 1055px) {
  .swiper-container-1 .swiper-wrapper .swiper-slide .swiper_slide_container {
    left: 12%;
    transform: translate(-12%, -50%);
  }
}
@media (max-width: 620px) {
  .swiper-container-1 .swiper-wrapper .swiper-slide .swiper_slide_container {
    text-align: center;
    left: 50%;
    top: 44%;
    transform: translate(-50%, -44%);
  }
}
.swiper-container-1 .swiper_paginations {
  position: absolute !important;
  right: 0 !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  z-index: 9999;
}
@media (max-width: 620px) {
  .swiper-container-1 .swiper_paginations {
    display: none;
  }
}
.swiper-container-1 .swiper_paginations .swiper_pagination {
  font-family: "Roboto";
  font-weight: 400;
  color: #2e2e2e;
  transform: rotate(-90deg);
  margin-bottom: 18px;
  cursor: pointer;
  font-size: calc(8px + 6 * ((100vw - 320px))/1410);
}
.swiper-container-1 .swiper_paginations .swiper_pagination:last-child {
  margin-bottom: 0;
}
.swiper-container-1 .swiper_paginations .swiper_pagination_active {
  margin: 40px 30px 0px 0px;
  transform: rotate(0deg);
  font-size: calc(18px + 22 * ((100vw - 320px))/1410);
  font-weight: 300;
}

.swiper_title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 50px;
  color: #2c2c2c;
}
@media (max-width: 1730px) {
  .swiper_title {
    font-size: calc(24px + 26 *((100vw - 320px))/1410);
  }
}

.swiper_article {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #505050;
}
@media (max-width: 1730px) {
  .swiper_article {
    font-size: calc(16px + 6 *((100vw - 320px))/1410);
  }
}
@media (max-width: 620px) {
  .swiper_article p {
    display: inline;
  }
}

.swiper_controllers {
  position: absolute;
  z-index: 9999;
  bottom: 60px;
  display: flex;
  left: 85px;
}
@media (max-width: 965px) {
  .swiper_controllers {
    left: 45px;
  }
}
@media (max-width: 620px) {
  .swiper_controllers {
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
  }
}

.swiper-button-prev,
.swiper-button-next {
  border-radius: 50%;
  height: 46px;
  width: 25px;
  position: static;
}
@media (max-width: 965px) {
  .swiper-button-prev,
.swiper-button-next {
    width: 20px;
    height: 36px;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-disabled {
  opacity: 1 !important;
}

.swiper-button-next {
  background: url(../img/next.png) no-repeat center center;
  background-size: cover;
  margin-left: 32px;
}
@media (max-width: 620px) {
  .swiper-button-next {
    margin-left: 56px;
  }
}

.swiper-button-prev {
  background: url(../img/left-arrow.png) no-repeat center center;
  background-size: cover;
}

.parallax-bg {
  background: url(../img/img_1.jpeg) no-repeat center center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 131%;
  height: 100%;
}

.fourth_section {
  height: 1080px;
  max-width: 1730px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  position: relative;
}
@media (max-width: 1395px) {
  .fourth_section {
    height: 820px;
  }
}
@media (max-width: 975px) {
  .fourth_section {
    height: 640px;
  }
}
@media (max-width: 585px) {
  .fourth_section {
    height: 580px;
  }
}

.fourth_section_container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  margin-left: 270px;
}
@media (max-width: 1395px) {
  .fourth_section_container {
    width: 100%;
    margin-left: 0;
    height: 100%;
    position: relative;
  }
}

.fourth_section_lside {
  padding: 0px 22px 0px 22px;
}
@media (max-width: 1395px) {
  .fourth_section_lside {
    width: 100%;
    padding-left: 20px;
    position: relative;
    height: 100%;
  }
}

.fourth_section_lside,
.fourth_section_rside {
  align-self: center;
}

.fourth_section_title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: calc(26px + 24 * ((100vw - 320px))/1410);
  color: #2c2c2c;
}
@media (max-width: 1395px) {
  .fourth_section_title {
    text-align: center;
  }
}

.fourth_section_swiper_1 {
  display: flex;
}
@media (max-width: 1395px) {
  .fourth_section_swiper_1 {
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-44%, -50%);
  }
}

.swiper_paginations,
.swiper-container-2 {
  align-self: center;
}

.swiper_paginations {
  margin-right: 0px;
}
@media (max-width: 1395px) {
  .swiper_paginations {
    margin-right: calc(25px + 25 * ((100vw - 320px))/1410);
  }
}

.swiper__pagination {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #e5e5e5;
  cursor: pointer;
  margin-bottom: 24px;
}
@media (max-width: 1395px) {
  .swiper__pagination {
    margin-bottom: 34px;
  }
}

.swiper__pagination:last-child {
  margin-bottom: 0;
}

.swiper__pagination_active {
  color: #444444;
  transition: 0.2s linear;
}

.swiper-container-2 {
  width: 320px;
  height: 595px;
  margin-left: 70px;
  margin-top: 80px;
}
@media (max-width: 1395px) {
  .swiper-container-2 {
    height: 650px;
    width: 420px;
    margin-left: 0;
  }
}
@media (max-width: 975px) {
  .swiper-container-2 {
    height: 550px;
    width: 380px;
  }
}
@media (max-width: 585px) {
  .swiper-container-2 {
    width: 280px;
    height: 450px;
  }
}
@media (max-width: 460px) {
  .swiper-container-2 {
    width: 240px;
  }
}
.swiper-container-2 .swiper-wrapper .swiper-slide .swiper_img_container {
  width: 100%;
  height: 495px;
}
@media (max-width: 1395px) {
  .swiper-container-2 .swiper-wrapper .swiper-slide .swiper_img_container {
    height: 550px;
  }
}
@media (max-width: 975px) {
  .swiper-container-2 .swiper-wrapper .swiper-slide .swiper_img_container {
    height: 450px;
  }
}
@media (max-width: 585px) {
  .swiper-container-2 .swiper-wrapper .swiper-slide .swiper_img_container {
    height: 350px;
  }
}
.swiper-container-2 .swiper-wrapper .swiper-slide .swiper_img_container .swiper_slide_img {
  border-radius: 6px;
}

.swiper_slide_img {
  width: 100%;
  height: 100%;
}

.swiper_2_article {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.swiper_2_title,
.swiper_2_like {
  align-self: center;
}

.swiper_2_title a {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  color: #444444;
}

.swiper_2_like {
  font-family: "Roboto";
  font-weight: 400;
  color: #444444;
  font-size: 18px;
}

.swiper_2_price .new_price {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 14px;
  color: #444444;
}

.fourth_section_rside {
  margin-left: 72px;
}
@media (max-width: 1395px) {
  .fourth_section_rside {
    display: none;
  }
}

.swiper-container-3 {
  width: 480px;
}
.swiper-container-3 .swiper-wrapper .swiper-slide .swiper_img_container {
  height: 680px;
  width: 480px;
}
@media (max-width: 1500px) {
  .swiper-container-3 .swiper-wrapper .swiper-slide .swiper_img_container {
    height: 580px;
  }
}

.fivth_section {
  height: 820px;
  max-width: 1730px;
  padding-left: 200px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  position: relative;
}
@media (max-width: 1256px) {
  .fivth_section {
    height: 720px;
    padding-left: 0;
  }
}
@media (max-width: 1096px) {
  .fivth_section {
    height: 620px;
  }
}
@media (max-width: 821px) {
  .fivth_section {
    height: 520px;
  }
}

.fivth_section_container {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translate(-38%, -50%);
}
@media (max-width: 1256px) {
  .fivth_section_container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width: 80%;
  }
}

.fivth_section_img {
  height: 680px;
  background: url(../img/img_5.jpeg) no-repeat center center;
  background-size: cover;
}
@media (max-width: 1256px) {
  .fivth_section_img {
    height: 540px;
  }
}
@media (max-width: 1096px) {
  .fivth_section_img {
    height: 440px;
  }
}
@media (max-width: 916px) {
  .fivth_section_img {
    height: 380px;
  }
}
@media (max-width: 821px) {
  .fivth_section_img {
    height: 320px;
  }
}

.fivth_section_lside {
  margin: 0;
  padding: 0;
  width: 100%;
}

.fivth_section_rside {
  margin: 0;
  padding: 0;
  width: 100%;
}

.fivth_section_rside_container {
  position: absolute;
  top: 50%;
  left: -60px;
  z-index: 4;
  transform: translateY(-50%);
  width: 470px;
}
@media (max-width: 821px) {
  .fivth_section_rside_container {
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
    width: 100%;
    padding: 0px 14px 14px 14px;
  }
}

.fivth_section_posttitle {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: calc(18px + 12 * ((100vw - 320px))/1410);
  color: #2c2c2c;
}
@media (max-width: 821px) {
  .fivth_section_posttitle {
    color: aliceblue;
  }
}

.fivth_section_title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 50px;
  color: #2c2c2c;
}
@media (max-width: 1730px) {
  .fivth_section_title {
    font-size: calc(26px + 24 * ((100vw - 320px))/1410);
  }
}
@media (max-width: 821px) {
  .fivth_section_title {
    color: #fff;
  }
}

.fivth_section_description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: calc(12px + 6 * ((100vw - 320px))/1410);
  color: #505050;
  margin-top: 36px;
}
@media (max-width: 821px) {
  .fivth_section_description {
    color: #fff;
  }
}

.fivth_section_viewshop {
  text-align: right;
  margin-top: 68px;
}
.fivth_section_viewshop a {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: calc(12px + 6 * ((100vw - 320px))/1410);
  color: #2c2c2c;
}
@media (max-width: 821px) {
  .fivth_section_viewshop a {
    color: #fff;
  }
}
@media (max-width: 916px) {
  .fivth_section_viewshop {
    margin-right: 60px;
  }
}
@media (max-width: 821px) {
  .fivth_section_viewshop {
    margin-right: 0;
  }
}

.six_section {
  max-width: 94%;
  width: 100%;
  min-height: 1328px;
  margin: 0 auto;
  background: #fff;
  position: relative;
  margin-top: 80px;
}
@media (max-width: 992px) {
  .six_section {
    min-height: 1198px;
  }
}
@media (max-width: 661px) {
  .six_section {
    min-height: 2268px;
  }
}
@media (max-width: 561px) {
  .six_section {
    min-height: 2168px;
  }
}

.six_section_container {
  position: absolute;
  width: 100%;
}

.six_section_header_image {
  width: 100%;
  height: 100%;
}

.six_section_title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: calc(26px + 14 * ((100vw - 320px))/1410);
  color: #2c2c2c;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.9px;
}

.six_section_main_1,
.six_section_main_2 {
  margin-top: 96px;
  flex-wrap: wrap;
  display: flex;
  padding: 0px 20px 0px 20px;
}

@media (max-width: 992px) {
  .six_section_main_1 {
    display: none;
  }
}

.six_section_main_2 {
  display: none;
}
@media (max-width: 992px) {
  .six_section_main_2 {
    display: flex;
    margin: 32px 0px 0px 0px;
    padding-right: 30px;
  }
}

.six_section_card {
  padding-left: 25px;
  height: 500px;
  margin-bottom: 56px;
  padding-right: 0;
}
@media (max-width: 1730px) {
  .six_section_card {
    margin-bottom: calc(20px + 36*((100vw - 320px)/1410));
  }
}

.six_section_card_header {
  width: 100%;
  height: 85%;
  position: relative;
}
@media (max-width: 820px) {
  .six_section_card_header {
    height: 80%;
  }
}
@media (max-width: 634px) {
  .six_section_card_header {
    height: 70%;
  }
}
.six_section_card_header .colors {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 9999;
}
.six_section_card_header .colors .color {
  margin-right: 6px;
  border: 2px solid #bebebe;
  height: 14px;
  width: 14px;
}
.six_section_card_header .tags {
  position: absolute;
  left: 20px;
  top: 20px;
}
.six_section_card_header .tags .tag {
  width: 66px;
  padding: 1px 0;
  text-align: center;
}
.six_section_card_header .tags .tag a {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #fff;
}
.six_section_card_header .tags .tag_new {
  background: #75c8e7;
}
.six_section_card_header .tags .tag_sale {
  background: #b5e775;
}
.six_section_card_header .tags .tag_hot {
  background: #ef4f72;
}
.six_section_card_header .view_buy {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear 0.1s;
}

.six_section_card:hover .view_buy {
  opacity: 1;
  visibility: visible;
}

.tag,
.vb {
  margin-bottom: 10px;
}

.tag:last-child,
.vb:last-child {
  margin-bottom: 0;
}

.vb {
  width: 38px;
  font-size: 17px;
  text-align: center;
  padding: 6px 0;
}
.vb a {
  color: #fff;
}

.quick_buy {
  background: #1b1b1b;
}

.quick_view {
  background: #81d2da;
}

.seven_section {
  max-width: 1730px;
  height: 602px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
@media (max-width: 1960px) {
  .seven_section {
    height: 540px;
  }
}
@media (max-width: 1260px) {
  .seven_section {
    height: 440px;
  }
}
@media (max-width: 960px) {
  .seven_section {
    height: 320px;
  }
}
@media (max-width: 760px) {
  .seven_section {
    height: 240px;
  }
}

.seven_section_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 960px) {
  .seven_section_container {
    display: block;
  }
}

.seven_section_lside,
.seven_section_rside {
  height: 100%;
  width: 49.2%;
  position: relative;
}
@media (max-width: 960px) {
  .seven_section_lside,
.seven_section_rside {
    width: 100%;
  }
}

.seven_section_lside {
  background: url(../img/img_7.jpeg) no-repeat center center;
  background-size: cover;
}

.seven_section_rside {
  background: url(../img/img_8.jpeg) no-repeat center center;
  background-size: cover;
}
@media (max-width: 960px) {
  .seven_section_rside {
    margin-top: 20px;
  }
}

.seven_section_lside_cotainer {
  position: absolute;
  left: 10px;
  top: 75%;
  transform: translateY(-75%);
}

.seven_section_rside_cotainer {
  position: absolute;
  right: 10px;
  top: 25%;
  transform: translateY(-25%);
  text-align: right;
}

.seven_section_posttitle {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #2c2c2c;
  text-decoration: underline;
  font-size: calc(18px + 12 * ((100vw - 320px))/1410);
}

.seven_section_title {
  font-family: "Roboto", sans-serif;
  font-size: calc(34px + 26 * ((100vw - 320px))/1410);
  font-weight: 900;
  color: #2c2c2c;
  background: #fff;
  text-align: center;
}

.seven_section_link {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: calc(10px + 4 * ((100vw - 320px))/1410);
  display: flex;
  width: 106px;
  margin-top: 32px;
}
.seven_section_link a {
  color: #2c2c2c;
}

.seven_section_link_2 {
  text-align: right;
  position: relative;
  left: 100%;
  transform: translateX(-100%);
}

.seven_section_link_through {
  width: 49px;
  height: 1px;
  background: #000;
}

.seven_section_link_through,
.seven_section_link_text {
  align-self: center;
}

.eight_section {
  max-width: 1730px;
  width: 100%;
  height: 356px;
  position: relative;
  border-color: #fff;
  margin: 0 auto;
}
@media (max-width: 1340px) {
  .eight_section {
    height: 266px;
  }
}
@media (max-width: 960px) {
  .eight_section {
    margin-top: 340px;
    height: 224px;
  }
}
@media (max-width: 761px) {
  .eight_section {
    margin-top: 260px;
    height: 224px;
  }
}

.eight_section_container {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 1730px;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
}
@media (max-width: 804px) {
  .eight_section_container {
    flex-wrap: wrap;
  }
}

.eight_section_item {
  height: 80px;
  border-right: 1px solid #e0e0e0;
  display: flex;
  padding: calc(10px + 15 * ((100vw - 320px)/1410));
}
@media (max-width: 772px) {
  .eight_section_item {
    border: none;
  }
}

.eight_section_item_4 {
  border: none;
}

.eight_section_description,
.eight_section_icon {
  align-self: center;
}

.eight_section_icon {
  font-size: calc(24px + 16 * ((100vw - 320px)/1410));
}

.eight_section_description {
  margin-left: calc(14px + 4 * ((100vw - 320px)/1410));
}

.eight_section_title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: calc(14px + 8 * ((100vw - 320px)/1410));
  color: #2c2c2c;
}

.eight_section_postitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: calc(12px + 6 * ((100vw - 320px) / 1410));
  color: #9c9c9c;
}

.edit_post {
  text-align: center;
  background: #fff;
  padding: 6px 4px 6px 4px;
}
.edit_post a {
  color: #81d2da;
  font-size: 14px;
}
.edit_post a:hover {
  color: #81d2da;
  text-decoration: none;
}