//Second Section
.second_section_border{
    height: 288px;
    border-top: 1px solid #d9d9d9;
    width: 100%;
}
.second_section{
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background: #fff;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}
.second_section_container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
     @media(max-width: 1307px){
         left: 50%;
         transform: translate(-50%, -50%);
    }
}
.second_section_title{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: #2c2c2c;
}
.product{
    margin-right: 16px;
    font-size: calc(28px + 42*((100vw - 320px)/1410));
}
.listing{
    font-size: calc(32px + 48*((100vw - 320px)/1410));
}
.breadcrumb{
    background: transparent;
    margin: 0;
    padding: 0;
    
}
.breadcrumb-item{
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    a{
        color: #b2b2b2;
        font-weight: 500;
    }
}
.breadcrumb-item.active{
    color: #444;
    font-weight: 900;
}
.breadcrumb-item+.breadcrumb-item::before{
    content: "â¯";
    color: #b2b2b2;
}

//Third Section
.third_section{
    width: 100%;
    min-height: 138px;
    height: auto;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    position: relative;
    @media(max-width: 900px){
        height: 180px;
    }
}
.third_section_container{
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1180px;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    @media(max-width: 900px){
        justify-content: center;
    }
}
.third_section_left_row{
    display: flex;
    @media(max-width: 742px){
        margin-bottom: 24px;
    }
    .product_nav{
        margin-right: 38px;
        @media(max-width: 1020px){
            margin-right: 18px;
        }
        @media(max-width: 420px){
            margin-right: 12px;
        }
    }
    .product_nav:first-child{
        @media(max-width: 460px){
            display: none;
        }
    }
    .product_nav,
    .product_nav a{
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: #1b1b1b;
        @media(max-width: 1020px){
           font-weight: 500;
        }
        @media(max-width: 440px){
            font-size: 12px;
        }
    }
    .product_nav:last-child{
        margin-right: 0;
    }
}
.row_order{
    margin-right: 20px;
}
.third_section_center{
    @media(max-width: 900px){
        margin-left: 14px;
    }
    .form-inline{
        @media(max-width: 570px){
            flex-flow: nowrap;
        }
    }
}
.third_section_right_row{
    @media(max-width: 900px){
        margin-left: 14px;
    }
    @media(max-width: 399px){
        margin-left: 14px;
        margin-top: 12px;
    }
    span{
        a{
            color: #333333;
            font-size: 18px;
        }
    }
}

//Fourth
.con_price{
    button{
        color: #fff;
        font-family: 'Poppins', serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 25px;
        text-transform: uppercase;
        letter-spacing: 2.21px;
        background: #23232c;
        border: none;
        margin-top: 10px;
        padding: 10px 26px 10px 26px;
    }
    margin-top: 20px;
}
.fourth_section{
    max-width: 1186px;
    width: 100%;
    background: #fff;
    position: relative;
    margin: 0 auto;
    margin-bottom: 80px;
    margin-top: 80px;
}
.fourth_section_container{
    display: flex;
    justify-content: space-between;
    max-width: 1186px;
}
.fourth_section_left{
    transition: 1s linear;
    width: 302px;
    padding-right: 40px;
    @media(max-width: 1306px){
        position: absolute;
        left: -100%;
        background: #fff;
        padding-bottom: 20px;
        padding-left: 12px;
    }
}
@media(max-width: 1306px){
    .box_fl{
        cursor: pointer;
        position: relative;
        width: 44px;
        height: 44px;
        border: 2px solid #81d2da;
        content: "";
        margin-top: 36px;
        margin-left: 36px;
    }
    .box_bar{
        position: absolute;
        width: 22px;
        height: 2px;
        background: #81d2da;
        content: "";
        cursor: pointer;
        transition: .3s ease;
    }
    .box_bar_2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .box_bar_1{
        top: 25%;
        left: 50%;
        transform: translate(-50%, -25%);
    }
    .box_bar_3{
        top: 75%;
        left: 50%;
        transform: translate(-50%, -75%);
    }
    .box_bar_1.open{
        transform: rotate(-45deg) translate(-14px, -2px);
    }
    .box_bar_2.open{
        opacity: 0;
        left: -10%;
    }
    .box_bar_3.open{
        transform: rotate(45deg) translate(-16px,   -1px);
    }
    .fourth_section_left.open{
        position: absolute;
        width: 440px;
        left: -10px;
        z-index: 99;
        padding: 30px;
        padding-top: 12px;
        @media(max-width: 960px){
            width: 320px;
        }
        @media(max-width: 620px){
            width: 290px;
        }
        @media(max-width: 540px){
            width: 240px;
        }
    }
}
.fourth_section_right{
    width: 100%;
}
.fourth_section_title{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: calc(14px + 8*((100vw - 320px)/1410));
    color: #272727;
    margin-bottom: 20px;
    margin-top: 56px;
}
.range {
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #e7e7e7;
    position: relative;
}
.range__button_1, .range__button_2 {
    position: absolute;
    top: 100%;
    width: 16px;
    height: 16px;
    cursor: move;
    transform: translateY(-50%);
    border: none;
    border-radius: 50%;
    background-color: #81d2da;
    transition: background .2s;
}
.range__between{
  position: absolute;
    height: 5px;
    width: 0px;
    border: none;
    background-color: #81d2da;
}
.range_inpt1, .range_inpt2{
  margin-top:20px;
  width: 50px;
    text-align: center;
    border: none;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    color: #575757;
}
.range_inpt2::-webkit-outer-spin-button,
.range_inpt2::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.range_inpt1::-webkit-outer-spin-button,
.range_inpt1::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.range_inpt2{
    margin-left: 14px;
}
.range_inpt1:focus,
.range_inpt2:focus{
    outline: none;
}
.category_title{
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #6b6b6b;
    transition: .2s ease-in-out;
    margin-bottom: 10px;
}
.category_title.active{
    color: #81d2da;
}
.category_title:hover{
    color: #81d2da;
    text-decoration: none;
    cursor: pointer;
}
.postcategory_container{
    padding-left: 20px;
    margin-bottom: 20px;
    transition: .42s ease;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: -1;
    .postcategory{
        margin-top: 6px;
        a{
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: #9b9b9b;
            transition: .2s ease-in-out;
        }
            a:hover{
            color: #81d2da;
            text-decoration: none;
        }
    }
}
.postcategory_container.active{
    opacity: 1;
    visibility: visible;
    z-index: 1;
    position: static;
}
.second_category{
    display: flex;
    justify-content: space-between;
    .category_container_left,
    .category_container_right{
        .postcategory{
            margin-top: 8px;
            a{
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-size: 14px;
                color: #6b6b6b;
                transition: .2s ease-in-out;
            }
            a:hover{
                color: #81d2da;
                text-decoration: none;
            }
        }
    }
}
.third_category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .form-group{
        label{
            cursor: pointer;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 14px;
            color: #575757;
            text-transform: uppercase;
            transition: background .3s ease-in-out;
        }
        input{
            z-index: -1;
            opacity: 0;
            visibility: hidden;
            position: absolute;
        }
        input:checked ~ label{
            color: #fff;
            background: #81d2da;
            padding: 10px 10px;
            border-radius: 50%;
        }
    }
}
.fourth_category{
    display: flex;
    align-items: end;
}
.range__button_1:hover,
.range__button_2:hover{
    border: 2px solid #81d2da;
    background: #fff;
}
.fivth_category{
    display: flex;
    float: left;
    .tags{
        margin-right: 12px;
        a{
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-weight: 500;
            color: #c6c6c6;
            transition: .2s ease;
        }
        a:hover{
            text-decoration: none;
            color: #2b2b2b;
        }
    }
}
//
.six_section_card{
    padding-left: 25px;
    height: 500px;
    margin-bottom: 56px;
    padding-right: 0;
    @media(max-width: 1730px){
        margin-bottom: calc(20px + 36*((100vw - 320px)/1410));
    }
    @media(max-width: 970px){
        height: 400px;
        margin-bottom: 68px;
    }
    @media(max-width: 780px){
        height: 300px;
        margin-bottom: 46px;
    }
    @media(max-width: 620px){
        height: 400px;
        margin-bottom: 26px;
    }
    @media(max-width: 540px){
        height: 500px;
        margin-bottom: 16px;
    }
}
.six_section_header_image{
    width: 100%;
    height: 100%;
}
.six_section_card_header{
    width: 100%;
    height: 85%;
    position: relative;
    @media(max-width: 820px){
        height: 80%;
    }
    @media(max-width: 634px){
        height: 70%;
    }
}
.six_section_card_header{
    display: block;
    width: 100%;
    height: 85%;
    position: relative;
    @media(max-width: 820px){
        height: 80%;
    }
    @media(max-width: 634px){
        height: 70%;
    }
    .colors{
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        z-index: 9999;
        .color{
            margin-right: 6px;
            border: 2px solid #bebebe;
            height: 14px;
            width: 14px;
        }
    }
    .tags{
        position: absolute;
        left: 20px;
        top: 20px;
        .tag{
            width: 66px;
            padding: 1px 0;
            a{
                font-family: "Lato", sans-serif;
                font-size: 16px;
                color: #fff;
            }
            text-align: center;
        }
        .tag_new{
            background: #75c8e7;
        }
        .tag_sale{
            background: #b5e775;
        }
        .tag_hot{
            background: #ef4f72;
        }
    }
    .view_buy{
        position: absolute;
        top: 20px;
        right: 20px;
        opacity: 0;
        visibility: hidden;
        transition: .2s linear .1s;
    }
}
.swiper_2_article{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.swiper_2_title{
    a{
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #444;
        @media(max-width: 500px){
            font-size: 12px;
        }
    }
}
.new_price{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: #444;
    @media(max-width: 500px){
        font-size: 12px;
        font-weight: 700;
    }
}
.six_section_card:hover .view_buy{
    opacity: 1;
    visibility: visible;
}
.tag, 
.vb{
    margin-bottom: 10px;    
}
.tag:last-child,
.vb:last-child{
    margin-bottom: 0;
}
.vb{
    width: 38px;
    font-size: 17px;
    text-align: center;
    padding: 6px 0;
    a{
        color: #fff;
    }
}
.quick_buy{
    background: #1b1b1b;
}
.quick_view{
    background: #81d2da;
}
.pagination-sm .page-item:last-child .page-link,
.pagination-sm .page-item:first-child .page-link,
.page-item:last-child .page-link,
.page-item:first-child .page-link{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.page-link{
    height: 28px;
    width: 28px;
    outline: 1.6px solid #d9d9d9;
    margin-left: 12px;
    text-align: center;
    color: #1e1e1e;
    font-size: 16px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    transition: background .2s ease;
}
.page-link:hover{
    color: inherit;
    border: none;
}
.page-link_active{
    background: #81d2da;
    color: #fff;
    outline: none;
}
.page-link_active:hover{
    color: #fff;
    background: #81d2da;
}
.swiper-container{
      width: 100%;
      height: 100%;
    padding-left: 0;
    @media(max-width: 620px){
        padding-left: 12px;
    }
    @media(max-width: 540px){
        padding-left: 12px;
    }
}
.swiper-container-vertical > .swiper-wrapper{
    display: block;
}
.swiper-wrapper.disabled {
    transform: translate3d(0px, 0, 0) !important;
}
.swiper-pagination.disabled {
    display: none;
}
.swiper-pagination-bullet{
    background: #fff;
    opacity: .6;
}
.swiper-pagination-bullet-active{
    background: #81d2da;
    opacity: 1;
}
.animate__animated{
    animation-duration: 2s;
}
.price_hide,
.categoryHide,
.size_hide{
    display: none;
}
.edit_post{
    text-align: center;
    background: #fff;
    padding: 6px 4px 6px 4px;
    a{
        color: #81d2da;
        font-size: 14px;
    }
    a:hover{
        color: #81d2da;
        text-decoration: none;
    }
}
.pagination_container{
    @media(max-width: 1307px){
        transform: translateX(48%);
    }
    @media(max-width: 970px){
        transform: translateX(48%);
    }
    @media(max-width: 620px){
        transform: translateX(44%);
    }
}