{% extends 'wrapper.html' %}
{% block header %}
<link rel="stylesheet" href="../../static/create/css/style.css">
{% endblock %}
{% block body %}
<div class="second_section">
    <div class="second_section_container">
        <div class="second_section_title mb-3">
            Product Creating
        </div>
        <form action="{{url_for('create')}}" method="post" class="form" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name" class="control-label">Name of Product *</label>
                <div class="input-group">
                    <input type="text" maxlength="50" id="name" class="form-control" name="name" autocomplete="off" required>
                    <span class="input-group-text name_span"><i class="far fa-check-circle"></i></span>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="control-label">Description *</label>
                <div class="form-floating">
                  <textarea id="description" name="description" maxlength="5000" class="form-control" autocomplete="off" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="price" class="control-label">Price of Product ($) *</label>
                <div class="input-group">
                    <input type="number" min="0" id="price" class="form-control" name="price" autocomplete="off" step="any" required>
                    <span class="input-group-text name_span"><i class="far fa-check-circle"></i></span>
                </div>
            </div>
            <span class="size_title">Choose Size / Sizes</span>
            <div class="sizes mt-4">
                <div class="form-group">
                    <input type="text" class="form-control size" value="off" autocomplete="off" name="os" id="os">
                    <label for="os" class="control-label oslabel">OS</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control size" value="off" autocomplete="off" name="xs" id="xs">
                    <label for="xs" class="control-label xslabel">XS</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control size" value="off" autocomplete="off" name="s" id="s">
                    <label for="s" class="control-label slabel">S</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control size" value="off" autocomplete="off" name="m" id="m">
                    <label for="m" class="control-label mlabel">M</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control size" value="off" autocomplete="off" name="l" id="l">
                    <label for="l" class="control-label llabel">L</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control size" value="off" autocomplete="off" name="xl" id="xl">
                    <label for="xl" class="control-label xllabel">XL</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control size" value="off" autocomplete="off" name="xxl" id="xxl">
                    <label for="xxl" class="control-label xxllabel">XXL</label>
                </div>
            </div>
            <div class="form-group">
                <input type="file" class="form-control" name="image" id="file" autocomplete="off" required>
                <label for="file" class="contrl-label">Image File</label>
                <span id="file_input">No choosen file, yet *</span>
            </div>
            <div class="additional_title">You can also add additional images (Not mandatory)</div>
            <div class="addtional_images">
                <div class="form-group">
                <input type="file" class="form-control" name="image_2" id="file_2" autocomplete="off">
                <label for="file_2" class="contrl-label">Image File</label>
                <span id="file_input_2">No choosen file, yet</span>
            </div>
            <div class="form-group">
                <input type="file" class="form-control" name="image_3" id="file_3" autocomplete="off">
                <label for="file_3" class="contrl-label">Image File</label>
                <span id="file_input_3">No choosen file, yet</span>
            </div>
            </div>
            <div class="form-group">
                <span class="colors_lable">Choose Color / Colors *</span>
               <div class="colors_row mt-3">
                   <div class="form-group">
                        <input type="color" name="color" class="form-control form-control-color" id="color" title="Main Color" autocomplete="off" required>
                   </div>
                   <div class="form-group ml-3">
                       <button type="button" class="btn btn-info add_color">Add Color</button>
                   </div>
                    <div class="form-group ml-2">
                       <button type="button" class="btn btn-warning delete_color">Delete Color</button>
                   </div>
               </div>
            </div>
            <div class="form_footer">
                <div class="form-group checkbox_group">
                    <input type="text" name="isActive" class="btn-check" id="isActive" value="on" autocomplete="off">
                    <label class="btn btn-outline-success check_label" for="isActive">IN STOCK</label>
                </div>
                <div class="form-group checkbox_group">
                    <input type="text" name="Hot" class="btn-check" id="Hot" value="off" autocomplete="off">
                    <label class="btn btn-outline-danger check_label_2" for="Hot">HOT</label>
                </div>
                <div class="form-group checkbox_group">
                    <input type="text" name="New" class="btn-check" id="New" value="off" autocomplete="off">
                    <label class="btn btn-outline-info check_label_3" for="New">NEW</label>
                </div>
                <div class="form-group checkbox_group">
                    <input type="text" name="Sale" class="btn-check" id="Sale" value="off" autocomplete="off">
                    <label class="btn btn-outline-success check_label_4" for="Sale">SALE</label>
                </div>
                <button class="done btn-success btn" type="submit">Done</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block footer %}
<script src="../../static/create/js/script.js"></script>
{% endblock %}