{% extends 'wrapper.html' %}
{% block header %}
<link rel="stylesheet" href="../about_us/arial%2520sv/Arial_GEO.TTF">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../static/about_us/css/style.css">
{% endblock %}
{% block body %}
<div class="second_section_border">
    <div class="second_section">
        <div class="second_section_container">
            <div class="second_section_title"><span class="product">About us</span></div>
            <div class="second_section_url">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{url_for('main')}}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About us</li>
                  </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="third_section_border">
    
</div>
<div class="third_section">
    <div class="third_section_container">
        <div class="third_section_left swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper_slide_1"></div>
                <div class="swiper-slide swiper_slide_2"></div>
                <div class="swiper-slide swiper_slide_3"></div>
                <div class="swiper-slide swiper_slide_4"></div>
                <div class="swiper-slide swiper_slide_5"></div>
            </div>
        </div>
        <div class="third_section_right">
            <div class="third_section_postitle">Who we are </div>
            <div class="third_section_title"><p>We pioneered</p><p>the fashion</p><p>sector</p></div>
            <div class="third_section_text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more.
            </div>
        </div>
    </div>
</div>
<div class="fourth_section">
    <div class="fourth_section_container">
        <div class="fourth_section_title">Customer say</div>
        <div class="comments_row">
            <div class="comment">
                <div class="quoter">
                    <div class="quoter_text">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem eritatis”</div>
                    <div class="marks">,,</div>
                </div>
                <div class="autor">
                    <div class="autor_block"></div>
                    <div class="autor_text">Phillip Cummings</div>
                </div>
            </div>
            
            <div class="comment">
                <div class="quoter">
                    <div class="quoter_text">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem eritatis”</div>
                    <div class="marks">,,</div>
                </div>
                <div class="autor">
                    <div class="autor_block"></div>
                    <div class="autor_text">Lucas Warner</div>
                </div>
            </div>
            
            <div class="comment">
                <div class="quoter">
                    <div class="quoter_text">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem eritatis”</div>
                    <div class="marks">,,</div>
                    <div class="autor">
                        <div class="autor_block"></div>
                        <div class="autor_text">Isaiah Wise</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fivth_section">
    <div class="fivth_section_container">
        <div class="sponsor_list">
            <div class="sponsor">
                <a href="">
                    <div class="sponsor_img sponsor_img_1"></div>
                </a>
            </div>
            <div class="sponsor">
                <a href="">
                    <div class="sponsor_img sponsor_img_2"></div>
                </a>
            </div>
            <div class="sponsor">
                <a href="">
                    <div class="sponsor_img sponsor_img_3"></div>
                </a>
            </div>
            <div class="sponsor">
                <a href="">
                    <div class="sponsor_img sponsor_img_4"></div>
                </a>
            </div>
            <div class="sponsor">
                <a href="">
                    <div class="sponsor_img sponsor_img_5"></div>
                </a>
            </div>
            <div class="sponsor">
                <a href="">
                    <div class="sponsor_img sponsor_img_6"></div>
                </a>
            </div>
            <div class="sponsor">
                <a href="">
                    <div class="sponsor_img sponsor_img_7"></div>
                </a>
            </div>
            <div class="sponsor">
                <a href="">
                    <div class="sponsor_img sponsor_img_8"></div>
                </a>
            </div>
            <div class="sponsor">
                <a href="">
                    <div class="sponsor_img sponsor_img_9"></div>
                </a>
            </div>
            <div class="sponsor">
                <a href="">
                    <div class="sponsor_img sponsor_img_10"></div>
                </a>
            </div>
            <div class="sponsor">
                <a href="">
                    <div class="sponsor_img sponsor_img_11"></div>
                </a>
            </div>
            <div class="sponsor">
                <a href="">
                    <div class="sponsor_img sponsor_img_12"></div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<script src="../../static/about_us/js/script.js"></script>
{% endblock %}