<header>
    <div class="first_section_container">
        <div class="logo_container">
            <a href="/">Lococha</a>
        </div>
        <div class="first_section_nav">
         <div class="first_section_nav_item">
          <form action="{{url_for('product_list')}}" method="get">
               <div class="search input-group"><input type="text" value="{{ request.args.get('search', '') }}" name="search" placeholder="Search">
                    <div class="input-group-append">
                   <button type="submit" role="button"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/><path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/></svg></button></div>
                </div>
            </form>
            </div>
            <div class="first_section_nav_item reg_acc">{% if current_user.is_authenticated %} <a href="/logout">Logout</a>{% else %}<a href="/login">Login</a>/<a href="/register">Register</a> {% endif %}</div>
            <div class="first_section_nav_item cart"><a href="{{url_for('cart')}}">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z"/></svg>
</a><div class="count count_1"><div class="num">{% if current_user.is_authenticated %}{{lc}}{% else %}0{% endif %}</div></div></div>
            <div class="first_section_nav_item likes"><div><a href="{{url_for('wishlist')}}"><i class="far fa-heart"></i></a></div><div class="count count_2"><div class="num">{% if wishes_count %}{{ wishes_count }}{%else%}0{% endif %}</div></div></div>
        </div>
        <div class="box">
            <div class="bar bar_1"></div>
            <div class="bar bar_2"></div>
            <div class="bar bar_3"></div>
        </div>
    </div>
</header>
<div class="menu_drop">
    <div class="menu_drop_container">
        <div class="first_section_nav_item search input-group mb-5">
        <form action="{{url_for('product_list')}}"  method="get">
            <input type="text" placeholder="Search" value="{{ request.args.get('search', '') }}">
            <div class="input-group-append">
               <button style="color: #fff;"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/><path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/></svg></button>
            </div>
        </form>
            </div>
            <div class="menu_drop_postcontainer">
               <div class="menu_drop_postcontainer_2">
                   <div class="first_section_nav_item reg_acc"><a href="">{% if current_user.is_authenticated %} <a href="/logout">Logout</a>{% else %}<a href="/login">Login</a>/<a href="/register">Register</a> {% endif %}</a></div>
                    <div class="first_section_nav_item cart"><a href="{{url_for('cart')}}">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z"/></svg>
    </a><div class="count count_1"><div class="num">{% if current_user.is_authenticated %}{{lc}}{% else %}0{% endif %}</div></div></div>
                    <div class="first_section_nav_item likes"><div><a href="{{url_for('wishlist')}}"><i class="far fa-heart"></i></a></div><div class="count count_2"><div class="num">{% if wishes_count %}{{ wishes_count }}{%else%}0{% endif %}</div></div></div>
               </div>
            <div class="box">
                <div class="bar bar_1"></div>
                <div class="bar bar_2"></div>
                <div class="bar bar_3"></div>
            </div>
        </div>
    </div>
</div>
