<footer>
    <div class="footer_container row">
        <div class="footer_left_side col-4">
            <div class="footer_title">
                Newsletter
            </div>
            <div class="footer_email mt-4">
                <div class="input-group flex-nowrap">
                    <input type="text" class="form-contol" placeholder="Enter email addres">
                    <button class="input-group-text"><i class="fas fa-envelope"></i></button>
                </div>
            </div>
            <div class="footer_postitle">Subscribe our newsletter and get discount 30% off</div>
            <div class="footer_capcha">
                <div class="footer_rights">LOCOCHA ©COPYRIGHT 2020. MADE BY <span style="font-weight: 600; color: #181818;">KARA</span></div>
                <div class="share_footer">
                    <div data-network="facebook" class="st-custom-button"><i class="fab fa-facebook-f"></i></div>
                    <div data-network="twitter" class="st-custom-button"><i class="fab fa-twitter"></i></div>
                    <div data-network="whatsapp" class="st-custom-button"><i class="fab fa-whatsapp"></i></div>
                    <div data-network="email" class="st-custom-button"><i class="far fa-envelope"></i></div>
                </div>
            </div>
        </div>
        <div class="footer_right_side offset-2 col-6">
           <div class="footer_right_side_container">
               <div class="footer_logo">Lococha</div>
                <div class="adress">PO Box 16122 Collins  Victoria 3000 Australia</div>
               <div class="company_info email">Email: <span><a href="mailTo:info@chiart.abcdf.com">info@chiart.abcdf.com</a></span></div>
               <div class="company_info phone">Phone: <span><a href="tel:+ 33 323 34522">+ 33 323 34522</a></span></div>
               <div class="company_info fax">Fax: <span>+33 3467888</span></div>
                <div class="footer_box_links">
                    <div class="footer_row footer_row_1">
                        <div  class="footer_link_title mb-4">My account</div>
                        <div class="footer_link"><a href="">My account</a></div>
                        <div class="footer_link"><a href="">Wish list</a></div>
                        <div class="footer_link"><a href="">Specials</a></div>
                        <div class="footer_link"><a href="">Order history</a></div>
                    </div>
                    <div class="footer_row footer_row_2">
                        <div class="footer_link_title mb-4">Information</div>
                        <div class="footer_link"><a href="">About us</a></div>
                        <div class="footer_link"><a href="">Contact us</a></div>
                        <div class="footer_link"><a href="">Custom services</a></div>
                        <div class="footer_link"><a href="">Privacy notice</a></div>
                    </div>
                    <div class="footer_row footer_row_3">
                        <div class="footer_link_title mb-4">Support</div>
                        <div class="footer_link"><a href="">Online support</a></div>
                        <div class="footer_link"><a href="">Help & FAQs</a></div>
                        <div class="footer_link"><a href="">Call center</a></div>
                    </div>
                </div>
                <div class="footer_box_640 row pl-3">
                     <div class="list-group col-6" id="myList" role="tablist">
                      <a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#home" role="tab">My account</a>
                      <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#profile" role="tab">Information</a>
                      <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#messages" role="tab">Support</a>
                    </div>
                    <div class="tab-content col-6">
                      <div class="tab-pane fade active" id="home" role="tabpanel">
                          <div class="footer_row footer_row_1">
                            <div class="footer_link"><a href="">My account</a></div>
                            <div class="footer_link"><a href="">Wish list</a></div>
                            <div class="footer_link"><a href="">Specials</a></div>
                            <div class="footer_link"><a href="">Order history</a></div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="profile" role="tabpanel">
                          <div class="footer_row footer_row_2">
                            <div class="footer_link"><a href="">About us</a></div>
                            <div class="footer_link"><a href="">Contact us</a></div>
                            <div class="footer_link"><a href="">Custom services</a></div>
                            <div class="footer_link"><a href="">Privacy notice</a></div>
                            </div>
                        </div>
                      <div class="tab-pane fade" id="messages" role="tabpanel">
                          <div class="footer_row footer_row_3">
                            <div class="footer_link"><a href="">Online support</a></div>
                            <div class="footer_link"><a href="">Help & FAQs</a></div>
                            <div class="footer_link"><a href="">Call center</a></div>
                        </div>
                      </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
</footer>